*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style-type: none;
}

.cs1{
    display: flex;
    
    background-color:purple;
    font-size:20px;
}
.cs1 ul{
    display: flex;
}
.cs1 ul li{
    margin:0px;
    margin-top:40px;
}
.cs1 ul li a{
    color:orange;
    font-weight: bold;
    transition:1s all;
    margin-left:200px;
    margin-right:0px;

}
.cs1 ul li a:hover{
    color: green;
    cursor: pointer; 
}
body{
   
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color:pink;
}
.cs1 img{
    margin-left:100px;
}
h1{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
marquee{
    color:purple;
    background-color:rgb(95, 177, 95);
    font-size:20px;
    padding: 5px;
}
form{
    text-align: center;
    color:brown;
    padding:10px;
    margin:10px;
    font-size:25px;
    
    
}
label{
    width:200px;
}

